.charStatus {
  border:solid 1px black;
  width:15%;
  height:80px;
}

.actionBar {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  bottom:10%;
  left:20%;
  border:solid 1px black;
  width:55%;
  height:150px;
}

.backGround {
  text-align: center;
  border:solid 1px black;
  height:45%;
  width:45%;
  position: absolute;
  top:25%;
  left:25%;
  background-size: cover;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.rightSide button {
  margin-left:auto;
  text-align: right;
}

.mini {
  display:flex;
  flex-flow:wrap;
  width:50px;
  height:50px;
}